.rewardsCard {
  background-color: var(--secondary-background-color);
  padding: 20px;
  border-radius: var(--card-br);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  width: 100%;
}

.rewardsCard h2 {
  margin-bottom: 15px;
  color: #333;
}

.newProgramButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.newProgramButton:hover {
  background-color: #0056b3;
}

.rewardsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rewardItem {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--background-color);
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leftColumn {
  flex: 1;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}

.rewardHeader {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.status {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  color: #000;
}

/* Status Colors */
.status.active {
  background-color: #28a745; /* Green for Active */
}

.status.upcoming {
  background-color: #ffc107; /* Yellow for Upcoming */
}

.status.expired {
  background-color: #dc3545; /* Red for Expired */
}

.actions {
  display: flex;
  flex-direction: column; /* Align buttons in a column */
  gap: 0.5rem;
}

.actionButton {
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.2s ease-in-out;
}

.actionButton:hover {
  color: #007bff;
}

/* FontAwesome Icons */
.fas {
  font-size: 1.2rem;
}
